/* FULLSCREEN DARK OVERLAY */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 20000;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* SIGN IN CARD */
.signin-card {
  background: white;
  width: 360px;
  padding: 40px 30px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* CLOSE BUTTON */
.close-btn {
  position: absolute;
  top: 14px;
  right: 18px;
  font-size: 22px;
  cursor: pointer;
}

/* TITLE */
.signin-title {
  text-align: center;
  color: #1f6b4a;
  margin-bottom: 25px;
}

.signin-input {
  width: 85%;   
  padding: 12px;
  margin: 0 auto 14px;    
  display: block;          

  border-radius: 6px;
  border: 1px solid #999;
  font-size: 14px;
}


.signin-options {
  width: 85%;
  margin: 10px auto 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 13px;
  color: #444;
}

.signin-options label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.signin-options input[type="checkbox"] {
  accent-color: #1f6b4a;
}

.forgot-link {
  color: #1f6b4a;
  font-weight: 500;
  cursor: pointer;
}

/* BUTTON */
.signin-btn {
  width: 100%;
  padding: 12px;
  background: #1f6b4a;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
}

.signin-btn:hover {
  background: #17533a;
}

/* SIGN UP TEXT */
.signup-text {
  text-align: center;
  font-size: 12px;
  color: #666;
}

.signup-text span {
  color: #1f6b4a;
  font-weight: 600;
  cursor: pointer;
}