.splash {
  height: 100vh;
  margin-top: 70px;
  background: url("/splash-bg.jpg") center / cover no-repeat;
}

.splash-overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
}

.splash-buttons {
  display: flex;
  gap: 20px;
}

.btn-primary,
.btn-secondary {
  padding: 12px 28px;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
}

.btn-primary {
  background: white;
  color: #1f6b4a;
}

.btn-secondary {
  border: 2px solid white;
  color: white;
}
